// 内容区背景色
$bg-color:#f5f6f7;
// 基础蓝色
$primary-color:#409EFF;
// 文本色
$text-color:#606266;
// 淡蓝色-悬浮色
$hover-bg-color:#f4f7fa;
// 灰色边框色
$border-color:#ddd;
// 卡片的灰色边框色（更淡）
$card-border-color:#ebeef5;
// 表头色
$table-head-color:#F4F5FA;
// 绿色
$green-color:#67C23A;
// 红色
$red-color:#f56c6c;
// 深黑色文本
$dark-text-color: #323233;
// 灰色文字
$grey-text-color:#969699;