$header-height:60px;
// 小号字体大小，mini size的input
$small-size:12px;
// 一般字体大小
$normal-size:14px;
// 按钮里的字体大小（不包括text类型的button）
$button-size:13px;
// 大号字体
$large-size:16px;
// 栅格布局中的el-row的margin-buttom
$gutter:20px;
// 边框的圆角
$border-radius:4px;